* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    background-color: rgb(243, 243, 243);
}

.instagram_wrapper{
    display: flex;
    align-items: center; /*alinha de acordo com o eixo Y*/
    justify-content: start; /*alinha de acordo com o eixo X*/

    width: 60%;
    height: 100vh;
}

.instagram_phone{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
}

.instagram_phone img{
    height: 50rem;
}